atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
chardet==3.0.4
-e git+https://github.com/benpetty/code-katas.git@0f329a7fea320e75d9d78b8caacde844eb172012#egg=code_katas
coverage==4.5.1
coveralls==1.5.1
docopt==0.6.2
filelock==3.0.10
idna==2.7
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.8.0
py==1.7.0
pytest==3.10.1
pytest-cov==2.6.0
requests==2.20.1
six==1.11.0
toml==0.10.0
tox==3.5.3
urllib3==1.24.1
virtualenv==16.1.0
